Repository DangoLingo/DangoLingo, pull requests merged in 2025-01, with the labels that each got.

#2 [FE] Feat: 소개 페이지 작업
  .DS_Store
  .idea/.gitignore
  .idea/artifacts/DangoLingo_war_exploded.xml
  .idea/libraries/ojdbc8.xml
  .idea/libraries/servlet_api.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  .idea/webContexts.xml
  .smarttomcat/DangoLingo/conf/catalina.policy
  .smarttomcat/DangoLingo/conf/catalina.properties
  .smarttomcat/DangoLingo/conf/context.xml
  .smarttomcat/DangoLingo/conf/jaspic-providers.xml
  .smarttomcat/DangoLingo/conf/jaspic-providers.xsd
  .smarttomcat/DangoLingo/conf/logging.properties
  .smarttomcat/DangoLingo/conf/server.xml
  .smarttomcat/DangoLingo/conf/tomcat-users.xml
  .smarttomcat/DangoLingo/conf/tomcat-users.xsd
  .smarttomcat/DangoLingo/conf/web.xml
  DangoLingo.iml
  build/classes/DAO/db.properties
  out/production/DangoLingo/BeansHome/Basic/BasicDTO.class
  out/production/DangoLingo/Common/ComMgr$COLOR.class
  out/production/DangoLingo/Common/ComMgr$NUMBER_TYPE.class
  out/production/DangoLingo/Common/ComMgr.class
  out/production/DangoLingo/Common/ExceptionMgr$RUN_MODE.class
  out/production/DangoLingo/Common/ExceptionMgr.class
  out/production/DangoLingo/DAO/DBOracleMgr$ConnectionString.class
  out/production/DangoLingo/DAO/DBOracleMgr.class
  out/production/DangoLingo/ProtoType/ProtoTypeConsole$ENUM_NAME.class
  out/production/DangoLingo/ProtoType/ProtoTypeConsole$SubClassName.class
  out/production/DangoLingo/ProtoType/ProtoTypeConsole.class
  out/production/DangoLingo/ProtoType/ProtoTypeDTO.class
  out/production/DangoLingo/ProtoType/ProtoTypeMain$ENUM_NAME.class
  out/production/DangoLingo/ProtoType/ProtoTypeMain$SubClassName.class
  out/production/DangoLingo/ProtoType/ProtoTypeMain.class
  out/production/DangoLingo/ServletHome/Basic/ServletDetail.class
  src/main/webapp/JspHome/Common/Footer.jsp
  src/main/webapp/JspHome/Common/Navbar.jsp
  src/main/webapp/JspHome/Common/css/footer.css
  src/main/webapp/JspHome/Common/css/navbar.css
  src/main/webapp/JspHome/Main/Basic.jsp
  src/main/webapp/JspHome/Main/css/main.css
  src/main/webapp/JspHome/Main/images/dango-logo.png
  web/index.jsp
Labels: Main_UnSigned, 도영, FE

#10 Feat: [FE] 단어장 목록 페이지 구현
  .idea/artifacts/DangoLingo_Web_exploded.xml
  .idea/jpa-buddy.xml
  .idea/libraries/javax_servlet_api.xml
  build/classes/BeansHome/User/UserDTO
  src/main/webapp/JspHome/Words/CSS/Words.css
  src/main/webapp/JspHome/Words/JS/Words.js
  src/main/webapp/JspHome/Words/Words.jsp
Labels: FE, 윤하, Words

#15 Feat: [BE] 당고링고 DTO 생성(Streak 테이블 추가)
  src/main/java/BeansHome/Streak/StreakDTO.java
  src/main/webapp/DB_DangoLingo/SP_BUILDDATA_STREAK.sql
  src/main/webapp/DB_DangoLingo/TB_STREAK.sql
Labels: BE, 윤하, Main_Signed, MyPage, DB

#19 Feat: [FE] 로그인/회원가입 페이지 작업
  src/main/webapp/JspHome/Main/Main_SignIn.jsp
  src/main/webapp/JspHome/Main/Main_SignUp.jsp
Labels: FE, 혜나, Main_SignIn, Main_SignUp

#20 Fix: [BE] 당고링고 DTO 수정
  src/main/java/BeansHome/User/UserDTO.java
  src/main/webapp/DB_DangoLingo/SP_BUILDDATA_STREAK.sql
  src/main/webapp/DB_DangoLingo/SP_BUILDDATA_USER.sql
  src/main/webapp/DB_DangoLingo/TB_USER.sql
Labels: BE, 윤하, DB

#21 Fix: [FE] 로그인, 회원가입 페이지 수정
  src/main/webapp/JspHome/Main/Main_SignIn.jsp
  src/main/webapp/JspHome/Main/Main_SignUp.jsp
Labels: FE, 혜나, Main_SignIn, Main_SignUp

#24 Feat: [BE] 회원가입 기능 추가
  out/production/DangoLingo/BeansHome/User/UserDAO.class
  src/main/java/BeansHome/User/UserDAO.java
  src/main/java/DAO/DBOracleMgr.java
  src/main/webapp/JspHome/Main/Main.jsp
  src/main/webapp/JspHome/Main/Main_SignUp.jsp
Labels: 도영, BE, Main_SignUp

#27 Feat : [BE] 퀴즈 페이지 작업
  src/main/java/BeansHome/Study/QuizDAO.java
  src/main/webapp/JspHome/Quiz/QuizRandomJson.jsp
  src/main/webapp/JspHome/Quiz/QuizResultUpdate.jsp
  src/main/webapp/JspHome/Quiz/Quiz_Choose.jsp
  src/main/webapp/JspHome/Quiz/Quiz_Final.jsp
  src/main/webapp/JspHome/Quiz/Quiz_Play.jsp
  src/main/webapp/JspHome/Quiz/css/Quiz_Play.css
  src/main/webapp/WEB-INF/lib/gson-2.11.0.jar
Labels: BE, 주선, Quiz_Choose, Quiz_Play, Quiz_Final, DB

#33 Feat: [BE] 마이 페이지 작업
  .idea/libraries/Java_EE_6_Java_EE_6.xml
  .idea/libraries/jstl_1_2.xml
  src/main/java/BeansHome/Friend/FriendDAO.java
  src/main/java/BeansHome/User/UserDAO.java
  src/main/java/BeansHome/User/UserDTO.java
  src/main/webapp/DB_DangoLingo/SP_BUILDDATA_DANGO.sql
  src/main/webapp/DB_DangoLingo/SP_BUILDDATA_USER.sql
  src/main/webapp/DB_DangoLingo/SP_BUILDDATA_USERDANGO.sql
  src/main/webapp/DB_DangoLingo/SP_USER_LOGIN.sql
  src/main/webapp/DB_DangoLingo/SP_USER_REGISTER.sql
  src/main/webapp/DB_DangoLingo/TB_USER.sql
  src/main/webapp/DB_DangoLingo/TB_USER_DANGO.sql
  src/main/webapp/JspHome/Common/Footer.jsp
  src/main/webapp/JspHome/Common/Navbar.jsp
  src/main/webapp/JspHome/Common/css/footer.css
  src/main/webapp/JspHome/Common/css/navbar.css
  src/main/webapp/JspHome/User/Friend.jsp
  src/main/webapp/JspHome/User/History.jsp
  src/main/webapp/JspHome/User/Info.jsp
  src/main/webapp/JspHome/User/MyPage.jsp
  src/main/webapp/JspHome/User/css/Friend.css
  src/main/webapp/JspHome/User/css/History.css
  src/main/webapp/JspHome/User/css/Info.css
  src/main/webapp/JspHome/User/css/MyPage.css
  src/main/webapp/JspHome/Words/Words.jsp
  src/main/webapp/WEB-INF/lib/jstl-1.2.jar
Labels: BE, 윤하, MyPage, MyPage_Profile_Edit, MyPage_Password_Change, DB

#35 Fix: [BE] 마이 페이지 DB 연동
  src/main/java/BeansHome/Session/SessionDAO.java
  src/main/java/BeansHome/User/UserDAO.java
  src/main/java/BeansHome/Words/WordsDAO.java
  src/main/webapp/JspHome/User/Friend.jsp
  src/main/webapp/JspHome/User/History.jsp
  src/main/webapp/JspHome/User/Info.jsp
  src/main/webapp/JspHome/User/MyPage.jsp
  src/main/webapp/JspHome/User/css/History.css
  src/main/webapp/JspHome/User/css/Info.css
Labels: BE, 윤하, MyPage, MyPage_Profile_Edit, MyPage_Password_Change, DB

#40 Feat: [BE] 당고 페이지 작업
  src/main/java/BeansHome/Dango/DangoDAO.java
  src/main/webapp/DB_DangoLingo/SP_IMG_RANDOM.sql
  src/main/webapp/DB_DangoLingo/SP_INSERT_PICK_DANGO_ID.sql
  src/main/webapp/DB_DangoLingo/SP_UPDATE_USER_POINTS.sql
  src/main/webapp/JspHome/Dango/Dango.jsp
  src/main/webapp/JspHome/Dango/Dango_Pick.jsp
  src/main/webapp/JspHome/Dango/Dango_Pick_final.jsp
  src/main/webapp/JspHome/images/dango-1.svg
  src/main/webapp/JspHome/images/dango-10.svg
  src/main/webapp/JspHome/images/dango-11.svg
  src/main/webapp/JspHome/images/dango-12.svg
  src/main/webapp/JspHome/images/dango-13.svg
  src/main/webapp/JspHome/images/dango-14.svg
  src/main/webapp/JspHome/images/dango-15.svg
  src/main/webapp/JspHome/images/dango-16.svg
  src/main/webapp/JspHome/images/dango-17.svg
  src/main/webapp/JspHome/images/dango-18.svg
  src/main/webapp/JspHome/images/dango-19.svg
  src/main/webapp/JspHome/images/dango-2.svg
  src/main/webapp/JspHome/images/dango-20.svg
  src/main/webapp/JspHome/images/dango-21.svg
  src/main/webapp/JspHome/images/dango-22.svg
  src/main/webapp/JspHome/images/dango-23.svg
  src/main/webapp/JspHome/images/dango-24.svg
  src/main/webapp/JspHome/images/dango-25.svg
  src/main/webapp/JspHome/images/dango-26.svg
  src/main/webapp/JspHome/images/dango-27.svg
  src/main/webapp/JspHome/images/dango-28.svg
  src/main/webapp/JspHome/images/dango-29.svg
  src/main/webapp/JspHome/images/dango-3.svg
  src/main/webapp/JspHome/images/dango-30.svg
  src/main/webapp/JspHome/images/dango-31.svg
  src/main/webapp/JspHome/images/dango-32.svg
  src/main/webapp/JspHome/images/dango-33.svg
  src/main/webapp/JspHome/images/dango-34.svg
  src/main/webapp/JspHome/images/dango-35.svg
  src/main/webapp/JspHome/images/dango-36.svg
  src/main/webapp/JspHome/images/dango-37.svg
  src/main/webapp/JspHome/images/dango-38.svg
  src/main/webapp/JspHome/images/dango-39.svg
  src/main/webapp/JspHome/images/dango-4.svg
  src/main/webapp/JspHome/images/dango-40.svg
  src/main/webapp/JspHome/images/dango-41.svg
  src/main/webapp/JspHome/images/dango-42.svg
  src/main/webapp/JspHome/images/dango-43.svg
  src/main/webapp/JspHome/images/dango-44.svg
  src/main/webapp/JspHome/images/dango-45.svg
  src/main/webapp/JspHome/images/dango-46.svg
  src/main/webapp/JspHome/images/dango-47.svg
  src/main/webapp/JspHome/images/dango-48.svg
  src/main/webapp/JspHome/images/dango-49.svg
  src/main/webapp/JspHome/images/dango-5.svg
  src/main/webapp/JspHome/images/dango-50.svg
  src/main/webapp/JspHome/images/dango-6.svg
  src/main/webapp/JspHome/images/dango-7.svg
  src/main/webapp/JspHome/images/dango-8.svg
  src/main/webapp/JspHome/images/dango-9.svg
  src/main/webapp/JspHome/images/dangoPick.svg
Labels: FE, BE, 혜나, Dango, Dango_Pick, Dango_Pick_Final, DB

#46 Feat: [BE] 단어장 목록 페이지 DB 연동
  out/production/DangoLingo/BeansHome/Friend/FriendDAO.class
  out/production/DangoLingo/BeansHome/Ranking/RankingDAO.class
  out/production/DangoLingo/BeansHome/Ranking/RankingDTO.class
  out/production/DangoLingo/BeansHome/Session/SessionDAO.class
  out/production/DangoLingo/BeansHome/Streak/StreakDAO.class
  out/production/DangoLingo/BeansHome/Study/QuizDAO.class
  out/production/DangoLingo/BeansHome/Study/StudyDAO.class
  out/production/DangoLingo/BeansHome/User/UserDAO.class
  out/production/DangoLingo/BeansHome/User/UserDTO.class
  out/production/DangoLingo/BeansHome/Words/WordsDAO.class
  out/production/DangoLingo/ServletHome/Basic/UpdateSessionServlet.class
  out/production/DangoLingo/ServletHome/Basic/UpdateStudyInfoServlet.class
  out/production/DangoLingo/mock/MockDataManager.class
  src/main/java/BeansHome/Ranking/RankingDAO.java
  src/main/java/BeansHome/Ranking/RankingDTO.java
  src/main/java/BeansHome/Streak/StreakDAO.java
  src/main/java/BeansHome/Study/StudyDAO.java
  src/main/java/BeansHome/User/UserDAO.java
  src/main/java/Mock/MockDataManager.java
  src/main/webapp/DB_DangoLingo/SP_USER_R
  src/main/webapp/DB_DangoLingo/SP_USER_U
  src/main/webapp/JspHome/Main/Main.jsp
  src/main/webapp/JspHome/Main/Main_SignUp.jsp
  src/main/webapp/JspHome/Ranking/Ranking.jsp
  src/main/webapp/JspHome/Words/JS/Words.js
  src/main/webapp/JspHome/Words/Words.jsp
Labels: BE, 윤하, Words, DB

#50 bug: [be] japan-study
  src/main/webapp/JspHome/Study/Words_Study.jsp
  src/main/webapp/JspHome/User/MyPage.jsp
Labels: Bug, BE, 윤하, 지용, Words, Words_Study, MyPage

#51 fix: [DB] 이미지 수정
  src/main/webapp/JspHome/images/dangoPick.svg
Labels: Dango, Dango_Pick, Dango_Pick_Final, DB

#53 Fix: [FE] 타이틀 수정
  src/main/webapp/JspHome/Main/Main.jsp
  src/main/webapp/JspHome/Main/Main_SignIn.jsp
  src/main/webapp/JspHome/Main/Main_SignUp.jsp
Labels: Bug, FE, Main_SignIn, Main_SignUp, Main_Signed

#55 Fix: [BE] 학습 퀴즈 페이지 버그 수정
  src/main/webapp/JspHome/Quiz/js/Quiz_Final.js
  src/main/webapp/JspHome/Study/Words_Final.jsp
  src/main/webapp/JspHome/Study/Words_Study.jsp
Labels: BE, 윤하, Words_Final, Quiz_Final

#56 Fix: [BE] 학습 퀴즈 페이지 CSS 수정
  src/main/webapp/JspHome/Quiz/Quiz_Final.jsp
  src/main/webapp/JspHome/Quiz/css/Quiz_Final.css
  src/main/webapp/JspHome/Study/CSS/words_final.css
Labels: Bug, FE, 윤하, Words_Final, Quiz_Final
